@import url("https://fonts.cdnfonts.com/css/eight-bit-dragon");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eaeaea;
  font-family: "Eight Bit Dragon";
  font-weight: 100;
}
